.dice {
  height: 10vmin;
  width: 10vmin;
  border: 0.3rem solid #22072a;
  background: #22072a;
  border-radius: 1rem;
  overflow: hidden;
  margin: 1rem;
}

.dice--img1 {
  background: url("./img/dice-1.png") no-repeat center center/cover;
}

.dice--img2 {
  background: url("./img/dice-2.png") no-repeat center center/cover;
}

.dice--img3 {
  background: url("./img/dice-3.png") no-repeat center center/cover;
}

.dice--img4 {
  background: url("./img/dice-4.png") no-repeat center center/cover;
}

.dice--img5 {
  background: url("./img/dice-5.png") no-repeat center center/cover;
}

.dice--img6 {
  background: url("./img/dice-6.png") no-repeat center center/cover;
}
