.score-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1rem;
  padding: 2rem;
  width: 80%;
  border-radius: 1rem;
  font-size: 5rem;
  color: rgb(197, 197, 197);
}

.score-container--total {
  background: #3a0c47bd;
  border: 0.5rem solid #3a0c47;
}

.score-container--current {
  background: #22072ab9;
  border: 0.5rem solid #22072a;
}
