.Input {
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
}

.input--label,
.input--info {
  font-size: 3rem;
  font-weight: bold;
  margin: 0 0 0 5rem;
}

.input--info {
  border: 0.3rem solid #22072a;
  border-radius: 1rem;
  text-align: center;
  padding: 1rem;
}

.input--label {
  font-size: 4rem;
}
