.data-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.data-container__dices,
.data-container__settings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.data-container__settings {
  display: flex;
  align-items: center;
  margin: 1rem;
}

.data-container__dices-container {
  display: flex;
}
