.data-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.data-container__dices,
.data-container__settings {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}
