body {
  font-family: "Shalimar", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (max-width: 500px) {
  html {
    font-size: 35%;
  }

  .game-container__players {
    flex-direction: column;
  }

  .score-container {
    margin: 1rem;
    padding: 1rem;
    width: max-content;
    font-size: 3rem;
  }

  .player-container {
    height: 10vmin;
  }

  .current-turn {
    background: rgb(253, 220, 247);
    border: 0.5rem solid rgb(141, 141, 141);
    height: 60vmin;
  }

  .btn {
    margin: 1rem;
    padding: 1rem;
    font-size: 3rem;
    font-weight: bold;
  }
}
